@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Black.woff2") format("woff2"), url("../fonts/Gilroy-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"), url("../fonts/Gilroy-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Thin.woff2") format("woff2"), url("../fonts/Gilroy-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-SemiBold.woff2") format("woff2"), url("../fonts/Gilroy-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-UltraLight.woff2") format("woff2"), url("../fonts/Gilroy-UltraLight.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-weight: 800;
  font-size: 52px;
  line-height: 1.1;
  color: #142229;
  margin: 0;
}

h2 {
  font-weight: 800;
  font-size: 42px;
  line-height: 1.1;
  color: #142229;
  margin: 0;
}

h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.15;
  color: #142229;
  margin: 0;
}

h4 {
  font-weight: 700;
  font-size: 21px;
  line-height: 1.15;
  color: #142229;
  margin: 0;
}

h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.15;
  color: #142229;
  margin: 0;
}

h6 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.15;
  color: #142229;
  margin: 0;
}

.text--light {
  font-weight: 300;
  line-height: 1.2;
  color: #142229;
  margin: 0;
}

.text--regular {
  font-weight: 400;
  line-height: 1.4;
  color: #142229;
  margin: 0;
}

.text--medium {
  font-weight: 500;
  line-height: 1.1;
  color: #142229;
  margin: 0;
}

.text--14 {
  font-size: 14px;
}

.text--16 {
  font-size: 16px;
}

.text--18 {
  font-size: 18px;
}

.text--21 {
  font-size: 21px;
}

.text--24 {
  font-size: 24px;
}

.button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  border: none;
  overflow: hidden;
  -webkit-transition: 0.3s background, 0.3s color, 0.3s border, 0.3s -webkit-box-shadow;
  transition: 0.3s background, 0.3s color, 0.3s border, 0.3s -webkit-box-shadow;
  -o-transition: 0.3s box-shadow, 0.3s background, 0.3s color, 0.3s border;
  transition: 0.3s box-shadow, 0.3s background, 0.3s color, 0.3s border;
  transition: 0.3s box-shadow, 0.3s background, 0.3s color, 0.3s border, 0.3s -webkit-box-shadow;
}

.button--primary {
  background-color: #00BDD6;
  color: #FFFFFF;
}

.button--primary::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  -webkit-box-shadow: inset 0 0 20px 0 rgba(255, 255, 255, 0.4);
          box-shadow: inset 0 0 20px 0 rgba(255, 255, 255, 0.4);
  -webkit-transition: 0.3s opacity;
  -o-transition: 0.3s opacity;
  transition: 0.3s opacity;
}

.button--primary [data-mask] {
  background-color: #FFFFFF;
}

.button--primary:hover {
  -webkit-box-shadow: 0 8px 24px 0 rgba(0, 189, 214, 0.6);
          box-shadow: 0 8px 24px 0 rgba(0, 189, 214, 0.6);
}

.button--primary:hover::after {
  opacity: 1;
}

.button--primary:focus {
  background-color: #06A8BD;
  -webkit-box-shadow: 0 0 0 4px rgba(0, 189, 214, 0.5);
          box-shadow: 0 0 0 4px rgba(0, 189, 214, 0.5);
}

.button--primary:disabled {
  background-color: #CCDDE9;
  color: #B5C9D7;
}

.button--primary:disabled [data-mask] {
  background-color: #B5C9D7;
}

.button--secondary {
  background-color: transparent;
  border: 2px solid #00BDD6;
  color: #00BDD6;
}

.button--secondary [data-mask] {
  background-color: #00BDD6;
}

.button--secondary::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  -webkit-box-shadow: inset 0 0 20px 0 rgba(255, 255, 255, 0.4);
          box-shadow: inset 0 0 20px 0 rgba(255, 255, 255, 0.4);
  -webkit-transition: 0.3s opacity;
  -o-transition: 0.3s opacity;
  transition: 0.3s opacity;
}

.button--secondary:hover {
  color: #FFFFFF;
  background-color: #00BDD6;
  -webkit-box-shadow: 0 8px 24px 0 rgba(0, 189, 214, 0.6);
          box-shadow: 0 8px 24px 0 rgba(0, 189, 214, 0.6);
}

.button--secondary:hover::after {
  opacity: 1;
}

.button--secondary:focus {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0 0 4px rgba(0, 189, 214, 0.5);
          box-shadow: 0 0 0 4px rgba(0, 189, 214, 0.5);
}

.button--secondary:disabled {
  border-color: #B5C9D7;
  color: #B5C9D7;
}

.button--secondary:disabled [data-mask] {
  background-color: #B5C9D7;
}

.button--tertiary {
  background-color: #9BBACF;
  color: #FFFFFF;
}

.button--tertiary [data-mask] {
  background-color: #FFFFFF;
}

.button--tertiary:hover {
  background-color: #204963;
}

.button--tertiary:focus {
  background-color: #204963;
  -webkit-box-shadow: 0 0 0 4px rgba(0, 189, 214, 0.5);
          box-shadow: 0 0 0 4px rgba(0, 189, 214, 0.5);
}

.button--tertiary:disabled {
  background-color: #CCDDE9;
  color: #B5C9D7;
}

.button--tertiary:disabled [data-mask] {
  background-color: #B5C9D7;
}

.button--quaternary {
  background-color: #FFFFFF;
  color: #00BDD6;
}

.button--quaternary::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  -webkit-box-shadow: inset 0 0 20px 0 rgba(255, 255, 255, 0.4);
          box-shadow: inset 0 0 20px 0 rgba(255, 255, 255, 0.4);
  -webkit-transition: 0.3s opacity;
  -o-transition: 0.3s opacity;
  transition: 0.3s opacity;
}

.button--quaternary [data-mask] {
  background-color: #00BDD6;
}

.button--quaternary:hover {
  background-color: #00BDD6;
  color: #FFFFFF;
  -webkit-box-shadow: 0 8px 24px 0 rgba(0, 189, 214, 0.6);
          box-shadow: 0 8px 24px 0 rgba(0, 189, 214, 0.6);
}

.button--quaternary:hover [data-mask] {
  background-color: #FFFFFF;
}

.button--quaternary:hover::after {
  opacity: 1;
}

.button--quaternary:focus {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0 0 4px rgba(0, 189, 214, 0.5);
          box-shadow: 0 0 0 4px rgba(0, 189, 214, 0.5);
}

.button--quaternary:disabled {
  background-color: #CCDDE9;
  color: #B5C9D7;
}

.button--quaternary:disabled [data-mask] {
  background-color: #B5C9D7;
}

.button--iconic {
  background-color: transparent;
  border: 2px solid #00BDD6;
}

.button--iconic::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  -webkit-box-shadow: inset 0 0 20px 0 rgba(255, 255, 255, 0.4);
          box-shadow: inset 0 0 20px 0 rgba(255, 255, 255, 0.4);
  -webkit-transition: 0.3s opacity;
  -o-transition: 0.3s opacity;
  transition: 0.3s opacity;
}

.button--iconic [data-mask] {
  background-color: #00BDD6;
}

.button--iconic:hover {
  background-color: #00BDD6;
  -webkit-box-shadow: 0 8px 24px 0 rgba(0, 189, 214, 0.6);
          box-shadow: 0 8px 24px 0 rgba(0, 189, 214, 0.6);
}

.button--iconic:hover [data-mask] {
  background-color: #FFFFFF;
}

.button--iconic:hover::after {
  opacity: 1;
}

.button--iconic:focus {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0 0 4px rgba(0, 189, 214, 0.5);
          box-shadow: 0 0 0 4px rgba(0, 189, 214, 0.5);
}

.button--iconic:disabled {
  border-color: #B5C9D7;
}

.button--iconic:disabled [data-mask] {
  background-color: #B5C9D7;
}

.button--iconicF {
  background-color: #FFFFFF;
}

.button--iconicF::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  -webkit-box-shadow: inset 0 0 20px 0 rgba(255, 255, 255, 0.4);
          box-shadow: inset 0 0 20px 0 rgba(255, 255, 255, 0.4);
  -webkit-transition: 0.3s opacity;
  -o-transition: 0.3s opacity;
  transition: 0.3s opacity;
}

.button--iconicF [data-mask] {
  background-color: #00BDD6;
}

.button--iconicF:hover {
  background-color: #00BDD6;
  -webkit-box-shadow: 0 8px 24px 0 rgba(0, 189, 214, 0.6);
          box-shadow: 0 8px 24px 0 rgba(0, 189, 214, 0.6);
}

.button--iconicF:hover [data-mask] {
  background-color: #FFFFFF;
}

.button--iconicF:hover::after {
  opacity: 1;
}

.button--iconicF:focus {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0 0 4px rgba(0, 189, 214, 0.5);
          box-shadow: 0 0 0 4px rgba(0, 189, 214, 0.5);
}

.button--iconicF:disabled {
  background-color: #CCDDE9;
}

.button--iconicF:disabled [data-mask] {
  background-color: #B5C9D7;
}

.button--large {
  font-size: 18px;
  padding: 12px 32px;
  border-radius: 8px;
}

.button--medium {
  font-size: 16px;
  line-height: 1.1;
  padding: 14px 24px;
  border-radius: 8px;
}

.button--small {
  font-size: 14px;
  line-height: 1.1;
  padding: 8px 16px;
  border-radius: 6px;
}

.button--iconic-large {
  width: 56px;
  height: 56px;
  padding: 12px;
  border-radius: 8px;
}

.button--iconic-medium {
  width: 46px;
  height: 46px;
  padding: 11px;
  border-radius: 8px;
}

.button--iconic-small {
  width: 36px;
  height: 36px;
  padding: 6px;
  border-radius: 6px;
}

.link {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.15;
  color: #263238;
  -webkit-transition: 0.3s color, 0.3s background;
  -o-transition: 0.3s color, 0.3s background;
  transition: 0.3s color, 0.3s background;
}

.link--primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link--primary [data-mask] {
  width: 24px;
  height: 6px;
  -webkit-mask-image: url(../img/UI/link/primary-icon.svg);
  background-color: #00bdd6;
  margin-left: 8px;
}

.link--primary:hover {
  color: #00bdd6;
}

.link--primary:hover [data-mask] {
  background-color: #00bdd6;
}

.link--primary:active [data-mask] {
  background-color: #06a8bd;
}

.link--primary:disabled {
  color: #b5c9d7;
}

.link--primary:disabled [data-mask] {
  background-color: #b5c9d7;
}

.link--secondary {
  padding-bottom: 5px;
  text-decoration: underline;
  -webkit-text-decoration-color: #00bdd6;
          text-decoration-color: #00bdd6;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  -webkit-transition: 0.3s color;
  -o-transition: 0.3s color;
  transition: 0.3s color;
}

.link--secondary:hover {
  color: #00bdd6;
  text-decoration: none;
  background: -o-radial-gradient(10px -7px, circle, transparent 8px, #00bdd6 8px, #00bdd6 9px, transparent 9px) repeat-x, -o-radial-gradient(10px 27px, circle, transparent 8px, #00bdd6 8px, #00bdd6 9px, transparent 9px) repeat-x;
  background: radial-gradient(circle at 10px -7px, transparent 8px, #00bdd6 8px, #00bdd6 9px, transparent 9px) repeat-x, radial-gradient(circle at 10px 27px, transparent 8px, #00bdd6 8px, #00bdd6 9px, transparent 9px) repeat-x;
  background-size: 20px 20px;
  background-position: -10px calc(100% + 16px), 0 calc(100% - 4px);
}

.link--secondary:active {
  color: #1A2C36;
  background: -o-radial-gradient(10px -7px, circle, transparent 8px, #06A8BD 8px, #06A8BD 9px, transparent 9px) repeat-x, -o-radial-gradient(10px 27px, circle, transparent 8px, #06A8BD 8px, #06A8BD 9px, transparent 9px) repeat-x;
  background: radial-gradient(circle at 10px -7px, transparent 8px, #06A8BD 8px, #06A8BD 9px, transparent 9px) repeat-x, radial-gradient(circle at 10px 27px, transparent 8px, #06A8BD 8px, #06A8BD 9px, transparent 9px) repeat-x;
  background-size: 20px 20px;
  background-position: -10px calc(100% + 16px), 0 calc(100% - 4px);
}

.link--secondary:disabled {
  color: #B5C9D7;
  -webkit-text-decoration-color: #B5C9D7;
          text-decoration-color: #B5C9D7;
}

.link--iconic {
  color: #1A2C36;
}

.link--iconic [data-mask] {
  background-color: #00BDD6;
}

.link--iconic:hover {
  color: #00BDD6;
}

.link--iconic:hover [data-mask] {
  background-color: #00BDD6;
}

.link--iconic:active [data-mask] {
  background-color: #06A8BD;
}

.link--iconic:disabled {
  color: #B5C9D7;
}

.link--iconic:disabled [data-mask] {
  background-color: #B5C9D7;
}

.link--no-decor {
  color: #00BDD6;
}

.link--no-decor:hover {
  color: #06A8BD;
}

.link--no-decor:hover [data-mask] {
  background-color: #00BDD6;
}

.link--no-decor:active {
  color: #00BDD6;
}

.link--no-decor:active [data-mask] {
  background-color: #06A8BD;
}

.link--no-decor:disabled {
  color: #B5C9D7;
}

.link--no-decor:disabled [data-mask] {
  background-color: #B5C9D7;
}

.badge {
  display: inline-block;
}

.badge--primary {
  background-color: #E0EEF8;
  color: #204963;
}

.badge--primary [data-mask] {
  background-color: #204963;
}

.badge--primary-new {
  background-color: #4BD48A;
  color: #ffffff;
}

.badge--primary-new [data-mask] {
  background-color: #ffffff;
}

.badge--primary-sale {
  background-color: #F92E47;
  color: #ffffff;
}

.badge--primary-sale [data-mask] {
  background-color: #ffffff;
}

.badge--secondary {
  border: 1px solid #9BBACF;
  color: #204963;
}

.badge--secondary [data-mask] {
  background-color: #204963;
}

.badge--secondary-new {
  border-color: #4BD48A;
  color: #4BD48A;
}

.badge--secondary-new [data-mask] {
  background-color: #4BD48A;
}

.badge--secondary-sale {
  border-color: #F92E47;
  color: #F92E47;
}

.badge--secondary-sale [data-mask] {
  background-color: #F92E47;
}

.badge--tertiary {
  background-color: #00BDD6;
  color: #ffffff;
}

.badge--tertiary [data-mask] {
  background-color: #ffffff;
}

.badge--medium {
  padding: 6px 14px;
  border-radius: 6px;
}

.badge--small {
  padding: 4px 8px;
  border-radius: 4px;
}

.badge--iconic-medium {
  padding: 6px;
  border-radius: 6px;
}

.badge--iconic-small {
  padding: 4px;
  border-radius: 4px;
}

.checkbox input {
  display: none;
}

.checkbox label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #1a2c36;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.checkbox label::before,
.checkbox label::after {
  content: "";
  -webkit-transition: 0.3s background, 0.3s border, 0.3s -webkit-box-shadow;
  transition: 0.3s background, 0.3s border, 0.3s -webkit-box-shadow;
  -o-transition: 0.3s background, 0.3s border, 0.3s box-shadow;
  transition: 0.3s background, 0.3s border, 0.3s box-shadow;
  transition: 0.3s background, 0.3s border, 0.3s box-shadow, 0.3s -webkit-box-shadow;
}

.checkbox input:disabled + label {
  color: #b5c9d7;
}

.checkbox--primary label::before {
  width: 24px;
  height: 24px;
  border: 1px solid #00bdd6;
  border-radius: 4px;
  margin-right: 8px;
}

.checkbox--primary label::after {
  position: absolute;
  left: 4px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 16px;
  -webkit-mask-image: url(../img/UI/checkbox/check-icon.svg);
  -webkit-mask-size: contain;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  background-color: #e0eef8;
}

.checkbox--primary:focus label::before {
  border-width: 2px;
  -webkit-box-shadow: 0 0 0 4px rgba(0, 189, 214, 0.5);
          box-shadow: 0 0 0 4px rgba(0, 189, 214, 0.5);
}

.checkbox--primary input:checked + label::before {
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#00BDD6), to(#06A8BD));
  background: -o-linear-gradient(top, #00BDD6, #06A8BD);
  background: linear-gradient(to bottom, #00BDD6, #06A8BD);
}

.checkbox--primary input:checked + label::after {
  background-color: #ffffff;
}

.checkbox--primary input:checked:disabled + label::before {
  background: #b5c9d7;
}

.checkbox--primary input:checked:disabled + label::after {
  background-color: #ffffff;
}

.checkbox--secondary label::before {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  margin-right: 8px;
  background-color: #ffffff;
}

.checkbox--secondary label::after {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.checkbox--secondary:focus label::before {
  -webkit-box-shadow: 0 0 0 4px rgba(0, 189, 214, 0.5);
          box-shadow: 0 0 0 4px rgba(0, 189, 214, 0.5);
}

.checkbox--secondary:focus label::after {
  width: 24px;
  height: 24px;
  border: 4px solid #ffffff;
  background-color: #00bdd6;
}

.checkbox--secondary input:checked + label::before {
  background: -webkit-gradient(linear, left top, left bottom, from(#00BDD6), to(#06A8BD));
  background: -o-linear-gradient(top, #00BDD6, #06A8BD);
  background: linear-gradient(to bottom, #00BDD6, #06A8BD);
}

.checkbox--secondary input:checked + label::after {
  left: 4px;
  width: 16px;
  height: 16px;
  -webkit-mask-image: url(../img/UI/checkbox/check-icon.svg);
  -webkit-mask-size: contain;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  background-color: #ffffff;
  border: none;
}

.checkbox--secondary input:checked:disabled + label::before {
  background: #b5c9d7;
}

.checkbox--secondary input:checked:disabled + label::after {
  background-color: #ffffff;
}

.slider-arrow {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 6px;
  background-color: #ffffff;
  -webkit-transition: 0.3s background, 0.3s border, 0.3s -webkit-box-shadow;
  transition: 0.3s background, 0.3s border, 0.3s -webkit-box-shadow;
  -o-transition: 0.3s background, 0.3s box-shadow, 0.3s border;
  transition: 0.3s background, 0.3s box-shadow, 0.3s border;
  transition: 0.3s background, 0.3s box-shadow, 0.3s border, 0.3s -webkit-box-shadow;
}

.slider-arrow--grey {
  background-color: #F0F7FB;
}

.slider-arrow::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background: -webkit-gradient(linear, left top, left bottom, from(#00BDD6), to(#06A8BD));
  background: -o-linear-gradient(top, #00BDD6, #06A8BD);
  background: linear-gradient(to bottom, #00BDD6, #06A8BD);
  opacity: 0;
  -webkit-transition: 0.3s opacity;
  -o-transition: 0.3s opacity;
  transition: 0.3s opacity;
  z-index: 0;
}

.slider-arrow::after {
  content: "";
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  -webkit-mask-size: contain;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  background-color: #00BDD6;
  -webkit-transition: 0.3s background;
  -o-transition: 0.3s background;
  transition: 0.3s background;
  z-index: 1;
}

.slider-arrow--prev::after {
  -webkit-mask-image: url(../img/UI/slider-arrow/icon-cont-01.svg);
}

.slider-arrow--next::after {
  -webkit-mask-image: url(../img/UI/slider-arrow/icon-cont-02.svg);
}

.slider-arrow:hover {
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 189, 214, 0.6);
          box-shadow: 0 2px 6px 0 rgba(0, 189, 214, 0.6);
}

.slider-arrow:hover::before {
  opacity: 1;
}

.slider-arrow:hover::after {
  background-color: #ffffff;
}

.slider-arrow:active {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0 0 4px rgba(0, 189, 214, 0.5);
          box-shadow: 0 0 0 4px rgba(0, 189, 214, 0.5);
  border: 2px solid #06A8BD;
}

.slider-arrow[disabled],
.slider-arrow:disabled {
  background-color: #F0F7FB;
}

.slider-arrow[disabled]::after,
.slider-arrow:disabled::after {
  background-origin: #B5C9D7;
}

.input {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.input input {
  width: 100%;
  border: none;
  -webkit-transition: 0.3s -webkit-box-shadow;
  transition: 0.3s -webkit-box-shadow;
  -o-transition: 0.3s box-shadow;
  transition: 0.3s box-shadow;
  transition: 0.3s box-shadow, 0.3s -webkit-box-shadow;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.input input:focus {
  -webkit-box-shadow: 0 0 0 4px rgba(0, 189, 214, 0.5);
          box-shadow: 0 0 0 4px rgba(0, 189, 214, 0.5);
}

.input label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  color: #9bbacf;
  margin: 0 0 4px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 0.3s font, 0.3s top, 0.3s -webkit-transform;
  transition: 0.3s font, 0.3s top, 0.3s -webkit-transform;
  -o-transition: 0.3s font, 0.3s transform, 0.3s top;
  transition: 0.3s font, 0.3s transform, 0.3s top;
  transition: 0.3s font, 0.3s transform, 0.3s top, 0.3s -webkit-transform;
}

.input label::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #f92e47;
  margin-left: 4px;
}

.input .clear {
  display: inline-block;
  position: absolute;
  right: 8px;
  width: 16px;
  height: 16px;
  background-color: #9bbacf;
  -webkit-mask-image: url(../img/UI/input/clear.svg);
  visibility: hidden;
}

.input input:valid ~ .clear {
  visibility: visible;
}

.input--left-icon input {
  padding-right: 8px;
  padding-left: 50px;
}

.input--left-icon label {
  padding: 0 8px 0 50px;
}

.input--left-icon::before {
  content: "";
  position: absolute;
  left: 8px;
  width: 24px;
  height: 24px;
  -webkit-mask-image: url(../img/UI/slider-arrow/icon-cont-01.svg);
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  background-color: #9bbacf;
  z-index: 1;
}

.input--left-icon::after {
  content: "";
  position: absolute;
  left: 40px;
  width: 1px;
  height: 24px;
  background-color: #ccdde9;
  z-index: 1;
}

.input--right-icon input {
  padding-right: 50px;
  padding-left: 8px;
}

.input--right-icon label {
  padding: 0 50px 0 8px;
}

.input--right-icon .clear {
  right: 50px;
}

.input--right-icon::before {
  content: "";
  position: absolute;
  right: 8px;
  width: 24px;
  height: 24px;
  -webkit-mask-image: url(../img/UI/slider-arrow/icon-cont-01.svg);
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  background-color: #9bbacf;
  z-index: 1;
}

.input--right-icon::after {
  content: "";
  position: absolute;
  right: 40px;
  width: 1px;
  height: 24px;
  background-color: #ccdde9;
  z-index: 1;
}

.input--large input {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.15;
  color: #1A2C36;
  height: 56px;
  background-color: #ffffff;
  border-radius: 8px;
}

.input--large .clear {
  bottom: 20px;
}

.input--large::before,
.input--large::after {
  bottom: 16px;
}

.input--small input {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  color: #1A2C36;
  height: 46px;
  background-color: #ffffff;
  border-radius: 8px;
}

.input--small .clear {
  bottom: 15px;
}

.input--small::before,
.input--small::after {
  bottom: 11px;
}

.input--label-center.input--large input {
  padding-top: 26px;
  padding-bottom: 10px;
}

.input--label-center.input--large label {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
}

.input--label-center.input--large input:focus + label,
.input--label-center.input--large input:valid + label {
  top: 10px;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  font-size: 12px;
}

.input--label-center.input--large input:focus + label::after,
.input--label-center.input--large input:valid + label::after {
  width: 4px;
  height: 4px;
  margin-left: 4px;
}

.input--label-center.input--small input {
  padding-top: 21px;
  padding-bottom: 5px;
}

.input--label-center.input--small label {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
}

.input--label-center.input--small input:focus + label,
.input--label-center.input--small input:valid + label {
  top: 5px;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  font-size: 12px;
}

.input--label-center.input--small input:focus + label::after,
.input--label-center.input--small input:valid + label::after {
  width: 4px;
  height: 4px;
  margin-left: 4px;
}

.input--user::before {
  -webkit-mask-image: url(../img/UI/input/user.svg);
}

.input--phone::before {
  -webkit-mask-image: url(../img/UI/input/phone.svg);
}

.input--disabled {
  pointer-events: none;
}

.input--disabled input {
  background-color: #f0f7fb;
}

.input--disabled label {
  color: #b5c9d7;
}

.input--disabled label::after {
  background-color: #b5c9d7;
}

.input--success::before {
  -webkit-mask-image: url(../img/UI/input/success.svg);
  background-color: #00bdd6;
}

.input--danger label {
  color: #F92E47;
}

.input--danger::before {
  -webkit-mask-image: url(../img/UI/input/danger.svg);
  background-color: #F92E47;
}

*,
*::before,
*::after {
  font-family: Gilroy;
  line-height: 1;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: normal;
}

a,
a:hover {
  text-decoration: none;
}

img {
  width: 100%;
}

[data-mask] {
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-transition: 0.3s background;
  -o-transition: 0.3s background;
  transition: 0.3s background;
}

.container {
  max-width: 1478px;
  padding: 0 15px;
  margin: 0 auto;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(32, 73, 99, 0.3);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s opacity, 0s visibility 0.3s;
  -o-transition: 0.3s opacity, 0s visibility 0.3s;
  transition: 0.3s opacity, 0s visibility 0.3s;
  z-index: 99;
}

.overlay--show {
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.3s opacity, 0s visibility;
  -o-transition: 0.3s opacity, 0s visibility;
  transition: 0.3s opacity, 0s visibility;
}

.app__sidebar {
  position: fixed;
  width: 360px;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 11;
}

.app__menu {
  position: relative;
  z-index: 11;
}

.app__menu .menu {
  -webkit-transform: translateX(-500px);
      -ms-transform: translateX(-500px);
          transform: translateX(-500px);
}

.app__menu::before {
  content: "";
  position: fixed;
  top: 0;
  left: 360px;
  height: 100vh;
  width: calc(100% - 360px);
  background-color: rgba(32, 73, 99, 0.3);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s opacity, 0s visibility 0.3s;
  -o-transition: 0.3s opacity, 0s visibility 0.3s;
  transition: 0.3s opacity, 0s visibility 0.3s;
}

.app__menu--active .menu {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.app__menu--active::before {
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.3s opacity, 0s visibility;
  -o-transition: 0.3s opacity, 0s visibility;
  transition: 0.3s opacity, 0s visibility;
}

.app__content {
  position: relative;
  width: calc(100vw - 360px);
  margin-left: auto;
  z-index: 10;
}

.sidebar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100vh;
  padding: 24px 56px;
  background-color: #1e9cb2;
  overflow: hidden;
}

.sidebar::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 64px;
  width: 693px;
  height: 716px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-image: url(../img/sidebar-bg.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}

.sidebar > * {
  position: relative;
  z-index: 1;
}

.sidebar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin: 30px 0;
}

.sidebar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.sidebar-menu__link {
  font-size: 21px;
  line-height: 1.1;
  color: #ffffff;
  text-decoration: none;
}

.sidebar-menu__link:hover {
  color: #ffffff;
  background: -o-radial-gradient(10px -7px, circle, transparent 8px, #ffffff 8px, #ffffff 9px, transparent 9px) repeat-x, -o-radial-gradient(10px 27px, circle, transparent 8px, #ffffff 8px, #ffffff 9px, transparent 9px) repeat-x;
  background: radial-gradient(circle at 10px -7px, transparent 8px, #ffffff 8px, #ffffff 9px, transparent 9px) repeat-x, radial-gradient(circle at 10px 27px, transparent 8px, #ffffff 8px, #ffffff 9px, transparent 9px) repeat-x;
  background-size: 20px 20px;
  background-position: -10px calc(100% + 16px), 0 calc(100% - 4px);
}

.sidebar-menu__link:not(:last-child) {
  margin-bottom: 24px;
}

.sidebar__bottom {
  width: 100%;
}

.sidebar-button > a {
  width: 100%;
}

.sidebar .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 22px;
}

.sidebar .social__item {
  padding: 6px;
}

.sidebar .social__item:not(:hover) {
  background-color: transparent;
}

.sidebar .social__item > span {
  width: 24px;
  height: 24px;
  background-color: #ffffff;
}

.sidebar .social__item:not(:last-child) {
  margin-right: 8px;
}

.menu {
  position: fixed;
  left: 360px;
  width: 448px;
  height: 100vh;
  padding: 32px;
  background-color: #F0F7FB;
  border-radius: 0 16px 16px 0;
  -webkit-box-shadow: 0 39px 60px rgba(20, 34, 41, 0.2), 0 15px 81px rgba(20, 34, 41, 0.1);
          box-shadow: 0 39px 60px rgba(20, 34, 41, 0.2), 0 15px 81px rgba(20, 34, 41, 0.1);
  -webkit-transition: 0.3s -webkit-transform;
  transition: 0.3s -webkit-transform;
  -o-transition: 0.3s transform;
  transition: 0.3s transform;
  transition: 0.3s transform, 0.3s -webkit-transform;
}

.menu__close {
  position: absolute;
  right: 32px;
  top: 32px;
  padding: 4px;
}

.menu__close > span {
  width: 24px;
  height: 24px;
  -webkit-mask-image: url(../img/icon-close.svg);
}

.menu__tab:not(.menu__tab--active) {
  display: none;
}

.menu__top {
  margin-bottom: 30.5px;
}

.menu__title {
  font-size: 21px;
  line-height: 1.1;
  color: #1A2C36;
}

.menu__item:not(:last-child) {
  margin-bottom: 24px;
}

.menu__item > .link {
  line-height: 1.1;
}

.menu__item > .badge {
  position: relative;
  padding: 7px 8px;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-left: 8px;
  bottom: 3px;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 11;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px 0 16px;
  border-bottom: 1px solid #ffffff;
}

.header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-info__icon {
  width: 32px;
  height: 32px;
  background-color: #00bdd6;
  margin-right: 16px;
}

.header-info__title {
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
  margin: 0 0 4px;
}

.header-info__desc {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1;
  color: #ffffff;
}

.header__phone {
  font-size: 24px;
  line-height: 1.1;
}

.header__phone:not(:hover) {
  color: #ffffff;
}

.header-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-controls__blind {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 16px;
  margin-right: 24px;
}

.header-controls__blind:not(:hover) {
  color: #ffffff;
}

.header-controls__blind:not(:hover) > span {
  background-color: #00bdd6;
}

.header-controls__blind > span {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.banner {
  position: relative;
}

.banner::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-image: url(../img/ptrn_wave-bottom.svg);
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  z-index: 11;
}

.banner__slide {
  padding: 142px 0;
  background-size: cover;
  background-position: center;
}

.banner__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: calc(100% - 200px);
}

.banner__badge {
  font-weight: 700;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 7px 8px;
  margin-bottom: 16px;
}

.banner__title {
  color: #ffffff;
  margin-bottom: 32px;
}

.banner__desc {
  color: #ffffff;
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 32px;
}

.banner__button {
  padding: 11px 24px;
}

.banner__button:not(:hover) {
  border-color: #ffffff;
  color: #ffffff;
}

.banner__button:hover {
  color: #ffffff;
}

.banner__controls {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 84px;
  z-index: 9;
}

.banner__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.banner__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto !important;
  margin: 0 16px;
}

.banner__pagination .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: transparent;
  border-radius: 50%;
  border: 2px solid #ffffff;
  margin: 0 !important;
  opacity: 1;
  -webkit-transition: 0.3s background;
  -o-transition: 0.3s background;
  transition: 0.3s background;
}

.banner__pagination .swiper-pagination-bullet:not(:last-child) {
  margin-right: 8px !important;
}

.banner__pagination .swiper-pagination-bullet-active {
  background-color: #ffffff;
}

.advantages {
  background-color: #ffffff;
  padding: 56px 0;
}

.advantages__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.advantages__title {
  font-weight: 800;
  font-size: 32px;
  line-height: 1.1;
}

.advantages__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages__arrow:not(:last-child) {
  margin-right: 8px;
}

.advantages__slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px;
  border-radius: 16px;
  -webkit-transition: 0.3s background;
  -o-transition: 0.3s background;
  transition: 0.3s background;
  overflow: hidden;
}

.advantages__slide:hover {
  background-color: #F0F7FB;
}

.advantages__slide:hover .advantages__name {
  color: #06A8BD;
}

.advantages__slide:hover .advantages__bg {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.advantages__slide:hover .advantages__icon {
  background-color: #FFFFFF;
}

.advantages__slide:hover .advantages__icon > img:nth-child(1) {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.advantages__slide:hover .advantages__icon > img:nth-child(2) {
  opacity: 0;
}

.advantages__bg {
  position: absolute;
  right: 14px;
  bottom: -14px;
  width: 102px;
  height: 102px;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  opacity: 0;
  background-color: #E0EEF8;
  -webkit-transition: 0.3s opacity, 0.3s -webkit-transform;
  transition: 0.3s opacity, 0.3s -webkit-transform;
  -o-transition: 0.3s opacity, 0.3s transform;
  transition: 0.3s opacity, 0.3s transform;
  transition: 0.3s opacity, 0.3s transform, 0.3s -webkit-transform;
  z-index: 1;
}

.advantages__icon {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 72px;
  height: 72px;
  border-radius: 16px;
  margin-right: 16px;
  -webkit-transition: 0.3s background;
  -o-transition: 0.3s background;
  transition: 0.3s background;
  z-index: 2;
}

.advantages__icon > img {
  position: absolute;
  width: 56px;
  -webkit-transition: 0.3s top, 0.3s left, 0.1s opacity, 0.3s -webkit-transform;
  transition: 0.3s top, 0.3s left, 0.1s opacity, 0.3s -webkit-transform;
  -o-transition: 0.3s top, 0.3s left, 0.3s transform, 0.1s opacity;
  transition: 0.3s top, 0.3s left, 0.3s transform, 0.1s opacity;
  transition: 0.3s top, 0.3s left, 0.3s transform, 0.1s opacity, 0.3s -webkit-transform;
}

.advantages__icon > img:nth-child(1) {
  left: 0;
  top: 0;
  z-index: 2;
}

.advantages__icon > img:nth-child(2) {
  right: 0;
  bottom: 0;
  z-index: 1;
}

.advantages__name {
  position: relative;
  font-size: 18px;
  line-height: 1.1;
  -webkit-transition: 0.3s color;
  -o-transition: 0.3s color;
  transition: 0.3s color;
  z-index: 2;
}

.services {
  position: relative;
  padding: 84px 0;
  background-color: #F0F7FB;
}

.services::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 70px;
  background-image: url(../img/ptrn_wave-top.svg);
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  z-index: 11;
}

.services::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-image: url(../img/ptrn_wave-bottom.svg);
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  z-index: 11;
}

.services__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.services__title {
  font-weight: 800;
  font-size: 32px;
  line-height: 1.1;
}

.services__more {
  margin-left: auto;
  margin-right: 32px;
}

.services__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__arrow:not(:last-child) {
  margin-right: 8px;
}

.services__bottom {
  padding: 20px;
  margin: -20px;
}

.services__slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: auto;
  min-height: 225px;
  padding: 24px;
  border-radius: 16px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  -webkit-transition: 0.3s -webkit-box-shadow, 0.3s -webkit-transform;
  transition: 0.3s -webkit-box-shadow, 0.3s -webkit-transform;
  -o-transition: 0.3s box-shadow, 0.3s transform;
  transition: 0.3s box-shadow, 0.3s transform;
  transition: 0.3s box-shadow, 0.3s transform, 0.3s -webkit-box-shadow, 0.3s -webkit-transform;
}

.services__slide:hover {
  -webkit-box-shadow: 0 0 20px #06a8bd;
          box-shadow: 0 0 20px #06a8bd;
  -webkit-transform: translateY(-8px);
      -ms-transform: translateY(-8px);
          transform: translateY(-8px);
}

.services__slide:hover::after {
  opacity: 0;
}

.services__slide:hover::before {
  opacity: 1;
}

.services__slide::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 140px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 189, 214, 0)), to(rgba(0, 168, 189, 0.8)));
  background: -o-linear-gradient(top, rgba(0, 189, 214, 0), rgba(0, 168, 189, 0.8));
  background: linear-gradient(to bottom, rgba(0, 189, 214, 0), rgba(0, 168, 189, 0.8));
  -webkit-transition: 0.3s opacity;
  -o-transition: 0.3s opacity;
  transition: 0.3s opacity;
  z-index: 1;
}

.services__slide::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 189, 214, 0.6)), to(#06A8BD));
  background: -o-linear-gradient(top, rgba(0, 189, 214, 0.6) 0%, #06A8BD 100%);
  background: linear-gradient(180deg, rgba(0, 189, 214, 0.6) 0%, #06A8BD 100%);
  opacity: 0;
  -webkit-transition: 0.3s opacity;
  -o-transition: 0.3s opacity;
  transition: 0.3s opacity;
  z-index: 1;
}

.services__badge {
  position: relative;
  z-index: 2;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 7px 8px;
  margin-bottom: 8px;
}

.services__name {
  position: relative;
  z-index: 2;
  font-size: 21px;
  line-height: 1.1;
  color: #ffffff;
  margin-bottom: 8px;
  margin-right: 70px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.services__icon {
  position: absolute;
  width: 56px;
  right: 24px;
  bottom: 24px;
  z-index: 2;
}

.services__desc {
  position: relative;
  z-index: 2;
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.technology {
  padding: 56px 0;
  background-color: #ffffff;
}

.technology__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.technology__title {
  font-weight: 800;
  font-size: 32px;
  line-height: 1.1;
}

.technology__more {
  margin-left: auto;
  margin-right: 32px;
}

.technology__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.technology__arrow:not(:last-child) {
  margin-right: 8px;
}

.technology__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}

.technology__slide:hover .technology__desc {
  border-color: #F0F7FB;
  background-color: #F0F7FB;
}

.technology__slide:hover .technology__name {
  color: #06A8BD;
}

.technology__img {
  position: relative;
  padding-top: 65%;
}

.technology__img > img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 16px;
}

.technology__desc {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 24px;
  border-radius: 16px;
  border: 1px solid #ccdde9;
  -webkit-transition: 0.3s background, 0.3s border;
  -o-transition: 0.3s background, 0.3s border;
  transition: 0.3s background, 0.3s border;
}

.technology__name {
  font-size: 18px;
  line-height: 1.1;
  margin-bottom: 16px;
  -webkit-transition: 0.3s color;
  -o-transition: 0.3s color;
  transition: 0.3s color;
}

.technology__text {
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  max-height: 132px;
  overflow: hidden;
}

.about {
  position: relative;
  padding: 28px 0 84px;
}

.about::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50.03%, rgba(255, 255, 255, 0)), color-stop(99.95%, #ffffff));
  background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0) 50.03%, #ffffff 99.95%);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 50.03%, #ffffff 99.95%);
}

.about::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-image: url(../img/ptrn_wave-bottom.svg);
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  z-index: 11;
}

.about__img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #f0f7fb;
  background-blend-mode: multiply;
}

.about__img::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url(../img/about/about.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.1;
}

.about__img::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(top, white, rgba(255, 255, 255, 0));
  background: linear-gradient(to bottom, white, rgba(255, 255, 255, 0));
}

.about__container {
  position: relative;
  z-index: 12;
}

.about__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
  row-gap: 32px;
}

.about__title {
  font-weight: 800;
  font-size: 32px;
  line-height: 1.1;
  margin-bottom: 32px;
}

.about__title > span {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: #00bdd6;
}

.about__desc {
  margin-bottom: 32px;
}

.about__desc .text:not(:last-child) {
  margin-bottom: 24px;
}

.about-numbers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
  row-gap: 32px;
  margin-top: 40px;
}

.about-numbers__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.about-numbers__icon {
  width: 56px;
}

.about-numbers__title {
  font-weight: 800;
  font-size: 42px;
  line-height: 1.1;
  background: -webkit-gradient(linear, left top, left bottom, from(#00bdd6), to(#06a8bd));
  background: -o-linear-gradient(top, #00bdd6 0%, #06a8bd 100%);
  background: linear-gradient(180deg, #00bdd6 0%, #06a8bd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.about-numbers__desc {
  margin: 0;
}

.about-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
  row-gap: 32px;
}

.about-gallery__column:nth-child(1) .about-gallery__item {
  min-height: 450px;
}

.about-gallery__column:nth-child(1) .about-gallery__item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 146px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 189, 214, 0)), to(#06a8bd));
  background: -o-linear-gradient(top, rgba(0, 189, 214, 0), #06a8bd);
  background: linear-gradient(to bottom, rgba(0, 189, 214, 0), #06a8bd);
}

.about-gallery__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 24px;
  min-height: 225px;
  border-radius: 16px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  -webkit-transition: 0.3s -webkit-transform, 0.3s -webkit-box-shadow;
  transition: 0.3s -webkit-transform, 0.3s -webkit-box-shadow;
  -o-transition: 0.3s transform, 0.3s box-shadow;
  transition: 0.3s transform, 0.3s box-shadow;
  transition: 0.3s transform, 0.3s box-shadow, 0.3s -webkit-transform, 0.3s -webkit-box-shadow;
}

.about-gallery__item:not(:last-child) {
  margin-bottom: 32px;
}

.about-gallery__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 189, 214, 0.6)), to(#06a8bd));
  background: -o-linear-gradient(top, rgba(0, 189, 214, 0.6) 0%, #06a8bd 100%);
  background: linear-gradient(180deg, rgba(0, 189, 214, 0.6) 0%, #06a8bd 100%);
  opacity: 0;
  z-index: 1;
  -webkit-transition: 0.3s opacity;
  -o-transition: 0.3s opacity;
  transition: 0.3s opacity;
}

.about-gallery__item:hover {
  -webkit-box-shadow: 0 0 20px #06a8bd;
          box-shadow: 0 0 20px #06a8bd;
  -webkit-transform: translateY(-8px);
      -ms-transform: translateY(-8px);
          transform: translateY(-8px);
}

.about-gallery__item:hover::after {
  opacity: 1;
}

.about-gallery__item:hover .about-gallery__wave {
  width: 100%;
}

.about-gallery__title {
  position: relative;
  z-index: 2;
  margin: 0 0 8px;
  color: #ffffff;
}

.about-gallery__desc {
  position: relative;
  z-index: 2;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.1;
  color: #ffffff;
  margin: 0 0 16px;
}

.about-gallery__wave {
  position: relative;
  z-index: 2;
  width: 42px;
  height: 12px;
  margin: 0;
  -webkit-transition: 0.3s width;
  -o-transition: 0.3s width;
  transition: 0.3s width;
}

.about-gallery__wave::after {
  content: "";
  display: block;
  width: 100%;
  height: 12px;
  background-image: url(../img/about/wave.svg);
  background-size: auto 100%;
  background-position: left;
}

.review {
  padding: 56px 0;
}

.review__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.review__title {
  font-weight: 800;
  font-size: 32px;
  line-height: 1.1;
}

.review__more {
  margin-left: auto;
  margin-right: 32px;
}

.review__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review__arrow:not(:last-child) {
  margin-right: 8px;
}

.review-slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: auto;
  border: 1px solid #CCDDE9;
  border-radius: 16px;
  padding: 24px;
  -webkit-transition: 0.3s background, 0.3s border;
  -o-transition: 0.3s background, 0.3s border;
  transition: 0.3s background, 0.3s border;
}

.review-slide:hover {
  background-color: #F0F7FB;
  border-color: #F0F7FB;
}

.review-slide:hover .review-slide__title {
  color: #06A8BD;
}

.review-slide__user {
  position: absolute;
  right: -6px;
  top: -6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 64px;
  height: 64px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1;
  text-align: center;
  color: #B5C9D7;
  border-radius: 16px;
  background-color: #F0F7FB;
  border: 6px solid #FFFFFF;
  overflow: hidden;
}

.review-slide__user > img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.review-slide .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.review-slide .rating__item {
  width: 24px;
  height: 24px;
  background-image: url(../img/review/teeth.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.review-slide .rating__item--empty {
  background-image: url(../img/review/teeth-empty.svg);
}

.review-slide .rating__item:not(:last-child) {
  margin-right: 4px;
}

.review-slide__date {
  line-height: 1.15;
  color: #A9A7B2;
  margin-bottom: 8px;
}

.review-slide__title {
  font-size: 18px;
  line-height: 1.1;
  color: #1A2C36;
  margin-bottom: 8px;
  -webkit-transition: 0.3s color;
  -o-transition: 0.3s color;
  transition: 0.3s color;
}

.review-slide__desc {
  color: #204963;
  margin-bottom: 16px;
}

.review-slide__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
}

.review-slide__tags .badge {
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 0.1em;
  color: #204963;
  padding: 7px 8px;
  text-transform: uppercase;
}

.review-slide__tags .badge:not(:last-child) {
  margin-right: 6px;
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 32px;
  background-color: #f0f7fb;
  -webkit-box-shadow: 0 0 0 8px rgba(0, 189, 214, 0.2);
          box-shadow: 0 0 0 8px rgba(0, 189, 214, 0.2);
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s opacity, 0s visibility 0.3s;
  -o-transition: 0.3s opacity, 0s visibility 0.3s;
  transition: 0.3s opacity, 0s visibility 0.3s;
  z-index: 100;
}

.modal--show {
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.3s opacity, 0s visibility;
  -o-transition: 0.3s opacity, 0s visibility;
  transition: 0.3s opacity, 0s visibility;
}

.modal__close {
  position: absolute;
  right: 32px;
  top: 32px;
  padding: 4px;
}

.modal__close > span {
  width: 24px;
  height: 24px;
  -webkit-mask-image: url(../img/icon-close.svg);
}

.modal__content {
  min-width: 384px;
}

.modal-feedback {
  display: none;
}

.modal-feedback[data-visible] {
  display: block;
}

.modal-feedback__title {
  font-size: 21px;
  line-height: 1.1;
  padding: 6.5px 0;
  margin-bottom: 16px;
}

.modal-feedback__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 24px;
}

.modal-feedback__inputs > .input:not(:last-child) {
  margin-bottom: 16px;
}

.modal-feedback__checkbox {
  margin-bottom: 16px;
}

.modal-feedback__submit {
  width: 100%;
}

.modal-thanks {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-thanks[data-visible] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-thanks__icon {
  width: 96px;
  -webkit-box-shadow: 0 8px 24px 0 #E0EEF8;
          box-shadow: 0 8px 24px 0 #E0EEF8;
  margin-bottom: 24px;
}

.modal-thanks__title {
  font-size: 21px;
  line-height: 1.1;
  text-align: center;
  padding: 6.5px 0;
  margin-bottom: 8px;
}

.modal-thanks__desc {
  margin-bottom: 24px;
}

.modal-thanks__desc > .text {
  text-align: center;
}

.modal-thanks__desc > .text:not(:last-child) {
  margin-bottom: 8px;
}

.modal-thanks__return {
  width: 100%;
}

@media screen and (max-width: 1560px) {
  .about-gallery {
    grid-template-columns: repeat(1, 1fr);
  }

  .about-gallery__column:nth-child(1) .about-gallery__item {
    min-height: 225px;
  }
}

@media screen and (max-width: 1470px) {
  .header-controls__blind {
    font-size: 0;
  }

  .header-controls__blind > span {
    margin-right: 0;
  }
}